# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.yarn
.history
.github
.vscode
.prettierignore
.prettierrc.js
.gitattributes
.dockerignore
/.idea
/src/api/data/dictionaries
/src/prisma/migrations
/dist
/original
/tests
/hooks
/src/popup/backup
/assets
Dockerfile
logs

# secrets
secrets.*.js
secrets.js
secrets.ts
