# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
/src/api/data/dictionaries
/src/prisma/migrations
/dist
/.idea
logs
/original

# secrets
secrets.*.js
secrets.js
secrets.ts
