# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.yarn
.history
.github
.vscode
.prettierignore
.prettierrc.js
.dockerignore
.gitattributes
/.idea
/dist
/original
/tests
/hooks
/backup
Dockerfile
logs

# secrets
secrets.*.js
secrets.js
secrets.ts
